<% provide(:title, "Nuova Slide") %>
<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_path %></li>
  <li><%= link_to 'Carousel', admin_slides_path %></li>
  <li class="active">Nuova slide</li>
</ol>
<%= form_for [:admin, @slide], :html => {multipart: true, :class => "form-3-input-lg"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <h2>Nuova slide</h2>
  <%= f.text_field :text, {class: "form-control first", :required => true, :autofocus => true, placeholder: "Inserisci il testo della slide..."} %>
  <%= f.file_field :image, {class: "form-control second", :required => true} %>
  <%= f.text_field :link, {class: "form-control third", :required => true, 
    placeholder: "Inserisci il link alla pagina destinazione..."} %>
  <%= f.submit "Inserisci slide", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
