<% provide(:title, 'Home') %>
<% provide(:header_bottom, 'carousel_public') %>
<div class="container-fluid">
  <div class="sectors-public">
    <h2 class="page-header">I nostri settori</h2>
    <% @sectors[0..-2].each do |sector| %>
      <div class="sector-public">
        <%= link_to raw(image_tag("icon-"+sector.sector_class+"_w.png", class: "sector-icon-public")+ sector.name), sector, class:"sector-link-public-"+sector.sector_class %>
      </div>
    <% end %>
    <div class="sector-public-MOTORIA">
        <%= link_to raw(image_tag("icon-"+@sectors.last.sector_class+"_w.png", class: "sector-icon-public")+ @sectors.last.name), @sectors.last, class:"sector-link-public-"+@sectors.last.sector_class %>
      </div>
  </div>
  <div class="news-public">
    <h2 class="page-header">Le ultime news</h2>
    <% @posts.each do |post| %>
      <div class="post-public-cell">
        <div class="post-public">
          <div class="post-date-public"><%= raw(l post.created_at, format: '%-d <span class="month">%b</span>') %></div>
          <div class="post-img-public"><%= image_tag post.lead_image.url(:small) %></div>
          <div class="post-text-public">
            <div class="post-title-public">
              <h3><%= link_to post.title, 'post' %></h3>
            </div>
            <div class="post-content-public">
              <%= sanitize(HTML_Truncator.truncate(post.content, 50), tags: %w(p)) %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
