<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_path %></li>
  <li><%= link_to 'Categorie', admin_categories_path %></li>
  <li><%= link_to 'Modifica ' + @category.name, edit_admin_category_path(@category) %></li>
  <li><%= link_to 'Orari', admin_category_schedules_path(@category) %></li>
  <li class="active"><%= yield(:title) %></li>
</ol>
<div class="page-container">
  <%= form_for [:admin, @category, @schedule], :html => {role: "form", class: "form-center-full"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <h2 class="page-header-private"><%= yield(:title) %></h2>
    <div class="alert alert-info">Ricorda di premere il tasto di
      <strong>salvataggio</strong>
      in fondo alla pagina, o le tue modifiche non verranno salvate.</div>
    <div class="form-group">
      <%= f.label :day, 'Giorno' %>
      <%= f.text_field :day, {class: "form-control", :required => true, :autofocus => true, placeholder: "Inserisci il giorno"} %>
    </div>
    <div class="form-group">
      <%= f.label :time, "Ora (dalle-alle)" %>
      <%= f.text_field :time, {class: "form-control", :required => true, placeholder: "Inserisci l'ora"} %>
    </div>
    <div class="form-group">
      <%= f.label :where, "Luogo" %>
      <%= f.text_field :where, {class: "form-control", :required => true, placeholder: "Inserisci il luogo"} %>
    </div>
    <div class="form-group">
      <%= f.label :map, "Mappa del luogo (opzionale)" %>
      <% old_map = @schedule.map.nil? || @schedule.map.empty? ? "" : '<iframe src="' + @schedule.map + '" width="400" height="300" frameborder="0" style="border:0"></iframe>' %>
      <%= f.text_field :map, {class: "form-control", placeholder: "Inserisci il codice della mappa del luogo", value: old_map} %>
      <p class="help-block">Puoi inserire la mappa da Google Maps.</p>
      <div class="callout-info">
        <h3 class="">Per inserire una nuova mappa (solo con la nuova versione di Google Maps):</h3>
        <ol>
          <li>
            Vai a
            <a href="https://www.google.it/maps/" target="_blank">https://www.google.it/maps/</a>.
          </li>
          <li>Cerca il luogo da te desiderato e premi invio.</li>
          <li>Assicurati che la mappa che vuoi includere sia visualizzata nella vista corrente.</li>
          <li>Clicca l'icona della rotellina in basso a destra.</li>
          <li>Clicca
            <strong>"Condividi e incorpora mappa"</strong>.</li>
          <li>Nella finestra che appare, seleziona "<strong>Incorpora mappa</strong>"</li>
          <li>Seleziona come dimesioni "<strong>piccole</strong>", poi copia il codice che trovi di fianco.</li>
          <li>Incolla il codice copiato nel campo "Mappa del luogo" di questo sito.</li>
        </ol>
      </div>
    </div>
    <%= f.button(type: 'submit', class: "btn-save btn-final") do %>
      <span class="icon"></span>
      <%= yield(:action) %>
    <% end %>
  <% end %>
</div>
