<% provide(:title, @category.name + ' - ' + @sector.name) %>
<% provide(:nav_public, 'nav_public_sector') %>
<div class="single-category-public">
  <h2 class="single-category-name-public"><%= @category.name %></h2>
  <%= render 'category_common' %>
  <% unless @category.image.url.nil? %>
    <div class="single-category-img-public">
      <%= image_tag @category.image.url(:normal), class: "img-single-category-public" %>
    </div>
  <% end %>
  <div class="people-public">
    <div class="row">
      <% @category.people.each do |person| %>
        <div class="person-cell-public">
          <div class="person-public">
            <div class="person-image-public"><%= image_tag person.image.url(:normal), class: "img-person-public" %></div>
            <div class="person-info-public">
              <h3 class="person-name-public"><%= person.first_name %>
                <%= person.last_name %></h3>
              <p class="person-role-public"><%= person.role %></p>
              <p class="person-description-public"><%= person.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
