<header>
  <!-- Navbar ================================================== -->
  <div class="public-navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".public-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag(image_path('logo-gold.gif')), root_url, :class => "public-navbar-brand" %>
      </div>
      <div class="collapse public-navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="public-nav">
          <%= active_link_to 'Home', root_path, :wrap_tag => :li %>
          <li class="dropdown <%= 'active' if params[:controller] == 'welcome' && params[:action] == 'sectors' %>">
            <%= link_to 'Settori <b class="caret"></b>'.html_safe, '#', :data => {:toggle=>"dropdown"}, :class => "dropdown-toggle"  %>
            <% if !@sectors.blank? %>
              <ul class="dropdown-menu">
                <% @sectors.each do |sec| %>
                  <li><%= link_to sec.name, '#' %></li>
                <% end %>
              </ul>
            <% end %>
          </li>
          <%= active_link_to 'News', '#', :wrap_tag => :li %>
          <%= active_link_to 'Shop', '#', :wrap_tag => :li %>
          <%= active_link_to 'La società', '#', :wrap_tag => :li %>
          <%= active_link_to 'Contatti', '#', :wrap_tag => :li %>
        </ul>
      </div><!--/.public-navbar-collapse -->
    </div>
  </div><!--/.Navbar -->
  <%= render 'layouts/' + yield(:header_bottom) unless yield(:header_bottom).empty? %>
</header>
