<%= active_link_to 'Home', sector_path(@sector), :active => :exclusive, :wrap_tag => :li %>
<% unless @categories.nil? || @categories.empty? %>
<li class="dropdown <%= 'active' if params[:controller] == 'categories' %>">
  <%= link_to 'Categorie <b class="caret"></b>'.html_safe, '#', :data => {:toggle=>"dropdown"}, :class => "dropdown-toggle"  %>
  <% if !@categories.blank? %>
    <ul class="dropdown-menu">
      <% @categories.each do |cat| %>
        <li><%= link_to cat.name, sector_category_path(@sector, cat) %></li>
      <% end %>
    </ul>
  <% end %>
</li>
<% end %>
<%= active_link_to 'News', sector_posts_path(@sector), :wrap_tag => :li %>
<%= active_link_to 'Photo Gallery', sector_photos_path(@sector), :wrap_tag => :li %>
<%= active_link_to 'Shop', sector_items_path(@sector), :wrap_tag => :li %>
<%= active_link_to 'Contatti', sector_contatti_path(@sector), :wrap_tag => :li %>