<div class="row">
  <div class="col-md-6"><%= link_to 'Carousel', admin_slides_path, :class => "btn btn-primary btn-lg admin-btn" %></div>
  <div class="col-md-6"><%= link_to 'News', '#', :class => "btn btn-primary btn-lg admin-btn", :disabled => true %></div>
</div>
<div class="row">
  <div class="col-md-6"><%= link_to 'Shop', '#', :class => "btn btn-primary btn-lg admin-btn", :disabled => true %></div>
  <div class="col-md-6"><%= link_to 'Photo Gallery', '#', :class => "btn btn-primary btn-lg admin-btn", :disabled => true %></div>
</div>
<div class="row">
  <div class="col-md-4"><%= link_to 'Sponsor', '#', :class => "btn btn-primary btn-lg admin-btn", :disabled => true %></div>
  <div class="col-md-4"><%= link_to 'Contatti', '#', :class => "btn btn-primary btn-lg admin-btn", :disabled => true %></div>
  <div class="col-md-4"><%= link_to 'Pagine Società', '#', :class => "btn btn-primary btn-lg admin-btn", :disabled => true %></div>
</div>
