<div class="row">
  <div class="col-md-6"><%= link_to 'Carousel', admin_slides_path, :class => "btn btn-primary btn-lg admin-btn" %></div>
  <div class="col-md-6"><%= link_to 'News', admin_posts_path, :class => "btn btn-primary btn-lg admin-btn" %></div>
</div>
<div class="row">
  <div class="col-md-6"><%= link_to 'Shop', '#', :class => "btn btn-primary btn-lg admin-btn", :disabled => true %></div>
  <div class="col-md-6"><%= link_to 'Photo Gallery', '#', :class => "btn btn-primary btn-lg admin-btn", :disabled => true %></div>
</div>
<div class="row">
  <div class="col-md-12"><%= link_to 'Categorie', '#', :class => "btn btn-primary btn-lg admin-btn", :disabled => true %></div>
</div>
