<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Boogaloo' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body id="body-public">
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <div id="wrap">
    <%= render 'layouts/header_public' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <div class="page-container">
        <div class="row">
          <div class="h_banners-public">
            <% first_banner = @h_banners.first %>
            <div class="banner-public">
              <%= link_to image_tag(first_banner.image.url(:horizontal), class: "img-banner-public"), first_banner.link unless first_banner.nil? %>
            </div>
            <%= yield %>
            <% last_banner = @h_banners.last %>
            <div class="banner-public">
              <%= link_to image_tag(last_banner.image.url(:horizontal), class: "img-banner-public"), last_banner.link unless last_banner.nil? %>
            </div>
            <%= debug(params) if Rails.env.development? %>
          </div>
          <div class="v_banners-public">
            <% first_v_banner = @v_banners.first %>
            <div class="banner-public">
              <%= link_to image_tag(first_v_banner.image.url(:vertical), class: "img-banner-public"), first_v_banner.link unless first_v_banner.nil? %>
            </div>
            <div class="fb-like-box banner-public" data-href="https://www.facebook.com/usmacalcio" data-width="100%" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="false"></div>
            <% unless @v_banners[1..-1].nil? %>
              <% @v_banners[1..-1].each do |v_banner| %>
                <div class="banner-public">
                  <%= link_to image_tag(v_banner.image.url(:vertical), class: "img-banner-public"), v_banner.link %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="push"></div>
  </div>
  <%= render 'layouts/footer' %>
</body>
